<!DOCTYPE html>
<html>
<head>
    <title>prints from palestine - Password</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="password-prompt">
        <h1>prints from palestine</h1>
        <p>Please enter the password to access the shop:</p>
        <form action="/login" method="POST">
            <input type="password" id="password" name="password">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>





