@font-face {
    font-family: 'Belwe Bold';
    src: url('/BelweBold.otf') format('opentype');
}

body {
    font-family: 'Belwe Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(223, 228, 193, 255);
    background-image: url('/backgroundtext.png'); /* Replace with the path to your transparent image */
    background-repeat: repeat; /* Adjust as needed */
    background-position: center center; /* Center the background image */
    /* background-attachment: fixed; */
}

h1 {
    text-align: center;
    padding: 20px;
}

h1.title {
    font-size: 60px; /* Adjust the font size as needed */
    margin-top: 12px; /* Adjust the top margin as needed */
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}


.password-prompt {
    text-align: center;
}

.password-prompt input {
    margin-top: 10px;
}

.product-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    width: calc(45% - 40px); /* The 45% here ensures that there will be 2 cards per row. Decrease this value if you want to include more space between the cards. */
    padding: 40px; /* Increase padding to create more space around the content inside each card. */
    border: 1px solid #4C5F21;
    box-sizing: border-box;
    margin: 20px; /* Increase margin for more space around each card. */
    background-color: rgba(223, 228, 193, 255);
    border-radius: 10px;
    transition: all 0.5s ease;
}

.product-card:hover {
    transform: scale(1.02); /* Optional: make product cards slightly larger when hovered over. */
}

.product-image {
    width: 100%;
    padding-bottom: 75%; /* This gives the image a wide rectangular shape. Adjust as necessary. */
    margin-bottom: 20px; /* Add some space between the image and the details. */
    position: relative;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.product-size {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Adjust as needed */
    border: 1px solid #4C5F21;
    font-size: 16px;
    font-family: 'Belwe Bold', sans-serif;
}



/* @media (max-width: 600px) {
    .product-card {
        width: 100%;
    }
} */


.product-details {
    flex-grow: 1;
}

.product-details h2 {
    margin-bottom: 10px;
}

.product-details p {
    margin-bottom: 20px;
}

.buy-button {
    background-color: rgba(76,95,33,255);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: white;
    color: rgba(76,95,33,255);
    border: 2px solid rgba(76,95,33,255);
}



.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(223, 228, 193, 0.8);
    padding: 10px;
    font-family: 'Belwe Bold', sans-serif;
    font-size: 14px;
    color: #000;
}

.about-link {
    margin-left: 10px;
    color: #000;
    text-decoration: none;
}

.instagram-link {
    margin-right: 28px;
    color: #000;
    text-decoration: none;
}

.about-link:hover,
.instagram-link:hover {
    text-decoration: underline;
}


#about {
    text-align: center;
    max-width: 600px;
    margin: 200px auto; /* adjust margin as needed */
    padding: 20px;
    color: #000;
    font-size: 25px;
}

.faq-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #4C5F21;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
}

.faq-question {
    cursor: pointer;
    margin-bottom: 10px;
}

.faq-answer {
    display: none;
    margin-bottom: 10px;
}

html {
    scroll-behavior: smooth;
}

.content-area,
.about-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 430px) {

    body {
        background-image: url('phonebackground.png'); /* Use the smaller background image */
    }
    .product-card {
        width: 90%; /* Make product cards take up most of the screen width */
        padding: 20px; /* Reduce padding */
    }

    .product-details h2, .faq-question {
        font-size: 18px; /* Reduce font size */
    }

    .product-details p, .faq-answer {
        font-size: 14px; /* Reduce font size */
    }

    h1.title {
        font-size: 40px; /* Reduce title size */
    }

    .container {
        padding: 10px; /* Reduce container padding */
    }
}









